* {
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header {
    Color: White;
    Background-Color: rgb(0, 149, 255);
    Padding: 30px;
}

nav {
    text-align: right;
    background-color: rgb(34, 144, 34);
}

figure {
    display: block;
}

figcaption {
    text-align: center;
}

.image {
    height:600px;
    margin: auto;
    display: block;
}

p {
    display: block;
}
