* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background: green;
}

nav {
    display: flex;
    background: yellow;
}

nav a {
    color: black;
    padding: 20px 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background: lightblue;
    padding: 20px;
}

section {
    flex: 3;
    background: purple;
    Text-Align: center;
}

.img {
    height: 200px;
    padding: 20px;
    width: auto;
    background: orange;
}

footer {
    padding: 20px;
    background: red;
}