* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: green;
    width: 100%;
    position: fixed;
    height: 100px;
}

nav {
    display: flex;
    background: rgb(70, 101, 185);
    width: 100%;
}

nav a {
    color: black;
    padding: 20px 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

aside {
    flex: 1;
    background: green;
    padding: 20px;
}

section {
    flex: 3;
    background: rgb(189, 189, 189);
    Text-Align: center;
}

.img {
    height: 200px;
    padding: 20px;
    width: auto;
    background: green;
}

footer {
    padding: 20px;
    background: rgb(70, 101, 185);
}